@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    list-style-type: none;
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

/* header */

.header {
    padding: 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.header__logo-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__logo-text {
    font-size: 24px;
    font-weight: 700;
}

.header__right {
    display: flex;
    gap: 70px;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 50px;
}

.header__btn {
    background-color: #4CAF4F;
    padding: 15px 25px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.header__btn-text {
    color: #FFF;
}

/* hero */

.hero {
    background-color: #F5F7FA;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    align-items: center;
}


.hero__h1 {
    font-size: 60px;
    font-weight: 600;
    color: #4D4D4D;
}

.hero__h1--green {
    color: #4CAF4F;
}


