@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    list-style-type: none;
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

/* header */

.header {
    padding: 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.header__logo-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__logo-text {
    font-size: 24px;
    font-weight: 700;
}

.header__right {
    display: flex;
    gap: 70px;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 50px;
}

.header__btn {
    background-color: #4CAF4F;
    padding: 15px 25px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.header__btn-text {
    color: #FFF;
}

/* hero */

.hero {
    background-color: #F5F7FA;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    align-items: center;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hero__h1 {
    font-size: 60px;
    font-weight: 600;
    color: #4D4D4D;
}

.hero__p {
    color: #717171;
    margin: 20px 0;
}

.hero__btn {
    background-color: #4CAF4F;
    padding: 12px 28px;
    width: 120px;
    border-radius: 3px;
    color: #FFF;
    
    
}

.hero__h1--green {
    color: #4CAF4F;
}

/* clients */

.clients__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.clients__h2 {
    color: #4D4D4D;
    font-size: 36px;
}

.clients__p {
    color: #717171;
    font-weight: 300;
}

/* manage */

.manage__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manage__h2 {
    display: flex;
    text-align: center;
    color: #4D4D4D;
    font-size: 32px;
}

.manage__p {
    color: 717171;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 60px;
}

.manage__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
    text-align: center;
}

.manage__menu-item-h3 {
    color: #4D4D4D;
    font-size: 24px;
    padding: 15px 0;
}

.manage__menu-item-p {
    align-items: center;
    color: #4D4D4D;
    font-weight: 300;
    padding: 15px 0;
}



/* footer */

.footer {
    background-color: #263238;
    padding: 48px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 200;
    font-size: 14px;
}

.footer__copyright-p {
    color: #FFF;
}

.footer__logo-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
}

.footer__right {
    display: flex;
    gap: 70px;
}

.footer__media-menu {
    display: flex;
    gap: 10px;
}

.footer__company-h3, .footer__support-h3, .footer__email-h3 {
    color: #FFF;
    padding-bottom: 15px;
    font-weight: 500;
}

.footer__company-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__support-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer__company-menu__item, .footer__support-menu__item {
    color: #FFF;
    font-size: 12px;
    font-weight: 200;
}

.footer__email {
    position: relative;
}

.footer__email-input {
    display: flex;
    align-items: center;
}

.footer__input {
    border-radius: 5px;
    padding: 9px;
    border: none;
    background-color: #5d6369;
}

.footer__input::placeholder {
    color: #FFF;
    font-weight: 200;
}


.footer__send {
    position: absolute;
    right: 7px;
    
}
